  
  .wrapper-class {
    background-color: #66C7CF;
  }

  .icon-before::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M6.40013%209.99998H4.30013C4.0668%209.99998%203.89458%209.8972%203.78347%209.69165C3.67236%209.48609%203.67791%209.28331%203.80013%209.08331L8.3168%202.03331C8.40569%201.87776%208.53347%201.77498%208.70013%201.72498C8.8668%201.67498%209.03347%201.67776%209.20013%201.73331C9.3668%201.78887%209.49736%201.89165%209.5918%202.04165C9.68624%202.19165%209.72236%202.35554%209.70013%202.53331L9.20013%206.79998H11.5668C11.8224%206.79998%2012.0029%206.91109%2012.1085%207.13331C12.214%207.35554%2012.189%207.56665%2012.0335%207.76665L7.10013%2014.0166C6.98902%2014.15%206.85291%2014.2389%206.6918%2014.2833C6.53069%2014.3278%206.37236%2014.3111%206.2168%2014.2333C6.06124%2014.1555%205.9418%2014.0416%205.85847%2013.8916C5.77513%2013.7416%205.75013%2013.5833%205.78347%2013.4166L6.40013%209.99998Z%22%20fill%3D%22black%22%20fill-opacity%3D%220.5%22%2F%3E%3C%2Fsvg%3E');
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 8px; 
  
  }